# Created by .ignore support plugin (hsz.mobi)
### WordPress template
*.log
wp-config.php
wp-content/uploads/
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/.idea


